# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end

# copied via the auto* tools
INSTALL
config.guess
config.sub
doc/mdate-sh
doc/texinfo.tex
install-sh
missing
mkinstalldirs
test-driver

# generated via the auto* tools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure

# generated via the configure and build steps
doc/latex-mk.dvi
doc/latex-mk.html
doc/latex-mk.info
doc/latex-mk.pdf
doc/latex-mk.ps
doc/latex-mk.t2d/**
doc/latex-mk.t2p/**
doc/stamp-vti
doc/version.texi

example/mkfile.gmk
example/mkfile.mk

ieee-copyout
latex-mk
latex-mk-virtuoso
latex.gmk
latex.mk
latex.mk.in
latex.subdir.gmk
latex.subdir.mk
latex.subdir.mk.in
tgif.gmk
tgif.mk
tgif.mk.in
virtuoso.gmk
virtuoso.mk
virtuoso.mk.in
xfig.gmk
xfig.mk
xfig.mk.in

